{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Yeon Screens</title>
    <meta name="description" content="Yeon Screens">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'web/images/YEON-LOGO.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/default-icons.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/tg-cursor.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/custome.css' %}">
</head>

<style>
    @media only screen and (min-width: 768px) {
        .product-menu{
            width: 1050px;
        }
    }
</style>

<body>

    <!--Preloader-->
    <div id="preloader">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon"><img src="{% static 'web/images/YEON-LOGO.png' %}" alt="Preloader"></div>
            </div>
        </div>
    </div>
    <!--Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="renova-up-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <div class="tg-header__top">
            <div class="container custom-container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="tg-header__top-delivery">
                            <p class="text-center text-lg-start">Express delivery and free returns within 24 hours</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tg-header__top-social">
                            <ul class="list-wrap justify-content-center">
                                <li><a href="https://www.facebook.com/" target="_blank">FB</a></li>
                                <li><a href="https://twitter.com/home" target="_blank">TW</a></li>
                                <li><a href="https://www.linkedin.com/" target="_blank">LI</a></li>
                                <li><a href="https://www.instagram.com/" target="_blank">IN</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tg-header__top-menu">
                            <ul class="list-wrap justify-content-end">
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Insights</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-header__logo-area tg-header__logo-area-two fix">
            <div class="container custom-container">
                <div class="tg-header__logo-area-inner">
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'web/images/YEON-LOGO.png' %}" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-10">
                            <div class="tg-header__logo-area-right">
                                <div class="tg-header__info-wrap">
                                    <div class="tg-header__info-item tg-header__info-item-two">
                                        <div class="icon">
                                            <i class="renova-marker"></i>
                                        </div>
                                        <div class="content">
                                            <span>Our location*</span>
                                            <h4 class="title">3rd Floor Hilite Businesspark</h4>
                                        </div>
                                    </div>
                                    <div class="tg-header__info-item tg-header__info-item-two">
                                        <div class="icon">
                                            <i class="renova-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <span>Send us mail*</span>
                                            <h4 class="title"><a href="mailto:info@yeonscreens.com">info@yeonscreens.com</a></h4>
                                        </div>
                                    </div>
                                    <div class="tg-header__info-item tg-header__info-item-two">
                                        <div class="icon">
                                            <i class="renova-phone"></i>
                                        </div>
                                        <div class="content">
                                            <span>Phone number*</span>
                                            <h4 class="title"><a href="tel:0123456789">+91 9876 543 21</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-btn header-btn-two">
                                    <a href="{% url 'contact' %}" class="btn border-btn">Get A Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-fixed-height"></div>
        <div id="sticky-header" class="tg-header__area tg-header__area-three">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="tgmenu__wrap">
                            <nav class="tgmenu__nav justify-content-between">
                                <div class="logo d-xl-none">
                                    <a href="{% url 'home' %}"><img src="{% static 'web/images/YEON-LOGO.png' %}" alt="Logo"></a>
                                </div>
                                <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
                                    <ul class="navigation">
                                        <li class="{% if page == 'home' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
                                        <li class="{% if page == 'about' %} active {% endif %}"><a href="{% url 'about' %}">About Us</a></li>
                                        <li class="menu-item-has-children {% if page == 'products' %} active {% endif %}"><a href="#">Products</a>
                                            <ul class="sub-menu">
                                                <li class="product-menu row">
                                                    {% for series in nav_series %}
                                                        <div class="col-md-3">
                                                            <a href="{% url 'product-details' series.Slug %}">
                                                                {% if series.Image %}
                                                                    <img src="{{ series.Image.url }}" alt="" class="w-10 h-10 rounded">
                                                                {% else %}
                                                                    <img src="{% static 'dashboard/images/image.jpg' %}" alt="" class="w-10 h-10 rounded">
                                                                {% endif %}
                                                                <p class="text-center fw-bold">{{ series.Title }}</p>
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children {% if page == 'application' %} active {% endif %}"><a href="#">Applications</a>
                                            <ul class="sub-menu">
                                                {% for application in nav_applications %}
                                                    <li><a href="{% url 'application' application.Slug %}">{{ application.Title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="{% if page == 'projects' %} active {% endif %}"><a href="{% url 'projects' %}">Projects</a></li>
                                        <li class="{% if page == 'events' %} active {% endif %}"><a href="{% url 'events' %}">Events</a></li>
                                        <li class="{% if page == 'contact' %} active {% endif %}"><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="offCanvas-toggle offCanvas-toggle-two d-none d-xl-block">
                                    <a href="javascript:void(0)" class="menu-tigger">
                                        <img src="{% static 'web/img/icons/bar_icon.svg' %}" alt="" class="injectable">
                                    </a>
                                </div>
                                <div class="mobile-nav-toggler"><i class="tg-flaticon-menu-1"></i></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="tgmobile__menu">
            <nav class="tgmobile__menu-box">
                <div class="close-btn"><i class="tg-flaticon-close-1"></i></div>
                <div class="nav-logo">
                    <a href="index.html"><img src="{% static 'web/images/YEON-LOGO.png' %}" alt="Logo"></a>
                </div>
                <div class="tgmobile__search">
                    <form action="#">
                        <input type="text" placeholder="Search here...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="tgmobile__menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="social-links">
                    <ul class="list-wrap">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="tgmobile__menu-backdrop"></div>
        <!-- End Mobile Menu -->

        <!-- header-search -->
        <div class="search__popup">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search__wrapper">
                            <div class="search__close">
                                <button type="button" class="search-close-btn">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="search__form">
                                <form action="#">
                                    <div class="search__input">
                                        <input class="search-input-field" type="text" placeholder="Type keywords here">
                                        <span class="search-focus-border"></span>
                                        <button>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.55 18.1C14.272 18.1 18.1 14.272 18.1 9.55C18.1 4.82797 14.272 1 9.55 1C4.82797 1 1 4.82797 1 9.55C1 14.272 4.82797 18.1 9.55 18.1Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M19.0002 19.0002L17.2002 17.2002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-popup-overlay"></div>
        <!-- header-search-end -->

        <!-- offCanvas-menu -->
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="far fa-window-close"></i></button>
            </div>
            <div class="offCanvas__logo mb-30">
                <a href="index.html"><img src="{% static 'web/images/YEON-LOGO.png' %}" alt="Logo"></a>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>3rd Floor Hilite Business Park</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+91 9876543210</p>
                    <p>+91 9754321800</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p>info@yeonscreens.com</p>
                    <p>connect@yeonscreens.com</p>
                </div>
            </div>
            <div class="offCanvas__social-icon mt-30">
                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
        <!-- offCanvas-menu-end -->

    </header>
    <!-- header-area-end -->

    <style>
        @media (max-width: 767px) {
            .system-banner {
                display: none;
            }
        }
        
        @media (min-width: 768px) {
            .mobile-banner {
                display: none;
            }
        }
    </style>

    {% block content %}

    {% endblock content %}

    <!-- footer-area -->
    <footer class="footer__area-three footer__bg" data-background="{% static 'web/img/bg/footer_bg.jpg' %}">
        <div class="container">
            <div class="footer__inner-wrap">
                <div class="footer__top-three">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="footer__logo footer__logo-two">
                                <a href="index.html"><img src="{% static 'web/images/YEON-LOGO.png' %}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="footer__content-two">
                                <p>Their team's technical expertise is truly outstanding. They took the time to thoroughly understand our goals and requirements and then designed and implemented solutions...</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer__social footer__social-two">
                                <ul class="list-wrap">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__info-wrap">
                    <div class="footer__info-item">
                        <div class="icon">
                            <i class="renova-marker"></i>
                        </div>
                        <div class="content">
                            <span>Office Address</span>
                            <h5 class="title">#rd Floor Hilite Business Park<br> Calicut , Kerala , India</h5>
                        </div>
                    </div>
                    <div class="footer__info-item">
                        <div class="icon">
                            <i class="renova-envelope-open"></i>
                        </div>
                        <div class="content">
                            <span>Email Address</span>
                            <h5 class="title">
                                <a href="mailto:info@yeonscreens.com">info@yeonscreens.com</a>
                                <a href="mailto:connect@yeonscreens.com">connect@yeonscreens.com</a>
                            </h5>
                        </div>
                    </div>
                    <div class="footer__info-item">
                        <div class="icon">
                            <i class="renova-phone"></i>
                        </div>
                        <div class="content">
                            <span>Phone Number</span>
                            <h5 class="title">
                                <a href="tel:0123456789">+(91) 9876 543 210</a>
                                <a href="tel:0123456789">+(91) 9876 543 210</a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom-three">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="footer__bottom-menu-three">
                                <ul class="list-wrap">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="">About</a></li>
                                    <li><a href="">Services</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="copyright-text-two">
                                <p>Copyright © 2024. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->
    
    <!-- JS here -->
    <script src="{% static 'web/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.odometer.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.appear.js' %}"></script>
    <script src="{% static 'web/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.marquee.min.js' %}"></script>
    <script src="{% static 'web/js/tg-cursor.min.js' %}"></script>
    <script src="{% static 'web/js/ajax-form.js' %}"></script>
    <script src="{% static 'web/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'web/js/svg-inject.min.js' %}"></script>
    <script src="{% static 'web/js/tween-max.min.js' %}"></script>
    <script src="{% static 'web/js/wow.min.js' %}"></script>
    <script src="{% static 'web/js/aos.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
    <script>
        SVGInject(document.querySelectorAll("img.injectable"));
    </script>
</body>

</html>