{% extends 'Web/base.html' %}
{% load static %}

{% block content %}
<!-- main-area -->
<main class="main-area fix">

    <!-- breadcrumb-area -->
    <div class="breadcrumb__area breadcrumb__bg" data-background="{% static 'web/images/Banners/1920x480.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__content">
                        <h2 class="title text-white">{{ series.Title }}</h2>
                        <nav class="breadcrumb">
                            <span property="itemListElement" typeof="ListItem">
                                <a href="{% url 'home' %}">Home</a>
                            </span>
                            <span class="breadcrumb-separator">/</span>
                            <span property="itemListElement" typeof="ListItem">Product Details</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <div class="row justify-content-center" style="padding-top: 55px;">
        <div class="col-xl-6 col-lg-8">
            <div class="section__title section__title-three text-center mb-60">
                <span class="sub-title">{{ series.Title }}</span>
                <h6 class="" style="font-size: 35px;">{{ series.Heading }} <br> {{ series.Models }}</h6>
            </div>
        </div>
    </div>

    <!-- services-area -->
    <section class="services__area-three section-pb-120">
        <div class="container">
            <div class="row gutter-24 justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <div class="services__thumb-three">
                        {% if series.Image %}
                            <img src="{{ series.Image.url }}" alt="img" class="wow img-custom-anim-left animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        {% endif %}
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="services__content-three">
                        <h2 class="title">{{ series.Title }}</h2>
                        <h3>{{ series.Section_Title }}</h3>
                        <p>{{ series.Section_Description }}</p>
                        <div class="shop__list-wrap services__list-wrap">
                            <ul class="list-wrap">
                                {% for feature in features %}
                                    <li><i class="far fa-check-circle"></i>{{ feature.Title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area-end -->

    <!-- services-area -->
    <section class="services__area-three section-pb-120">
        <div class="container">
            <div class="row gutter-24 justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <h2 class="title">{{ series.Title }}</h2>
                    <div class="services__content-three" style="display: flex;">
                        <table style="width: 600px;">
                            <tbody>
                                {% for spec in specifications %}
                                    <tr>
                                        <td style="padding: 20px; border: 1px solid black;">{{ spec.Title }}</td>
                                        <td style="padding: 20px; border: 1px solid black;">{{ spec.Value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="services__thumb-three">
                        {% if series.Table_Image %}
                            <img src="{{ series.Table_Image.url }}" alt="img" class="wow img-custom-anim-left animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area-end -->

    <!-- services-area -->
    <section class="services__area-three section-pb-120">
        <div class="container">
            <div class="row gutter-24 justify-content-center">
                <div class="col-xl-4 col-lg-4">
                    <div class="services__thumb-three">
                        <img src="https://www.hawaiiledscreen.com/external/Public_HTML/hawaiibeeta/assets/img/quality_LED_screen_Display_Manufacturers_in_india.png" alt="img" class="wow img-custom-anim-left animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <h2 class="title">Easy intelligent control of displays</h2>
                    <p>Taurus Series Multimedia Player is widely used in advertising, digital signage, and other commercial applications. Taurus is also effectively used in Smart Cities for pole screens, scientific community displays, colored public transportation displays, and more.</p>

                    <h2 class="title">Safe and stable for worry-free operation</h2>
                    <div class="shop__list-wrap services__list-wrap">
                        <ul class="list-wrap">
                            <li><i class="far fa-check-circle"></i>Designed with safety in mind to keep troubles far away</li>
                            <li><i class="far fa-check-circle"></i>Automatically connects to optimal signal, no longer a need to worry about signal loss</li>
                            <li><i class="far fa-check-circle"></i>Comprehensive record of daily logs with full status monitoring</li>
                            <li><i class="far fa-check-circle"></i>Real-time watchdog monitoring with automatic error correction</li>
                            <li><i class="far fa-check-circle"></i>Receiving card cascading and redundant backup for multiple levels of protection</li>
                        </ul>
                    </div>

                    <button class="btn btn-primary">Download Data sheet</button>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area-end -->

    <!-- choose-area -->
    <!-- <section class="choose__area-two">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section__title section__title-three text-center mb-60">
                        <span class="sub-title">Why Choose Us</span>
                        <h2 class="title">Why people are very loved to working with us?</h2>
                    </div>
                </div>
            </div>
            <div class="choose__tab-wrap">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="expertise-tab" data-bs-toggle="tab" data-bs-target="#expertise-tab-pane" type="button" role="tab" aria-controls="expertise-tab-pane" aria-selected="true">Expertise and Experience</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="quality-tab" data-bs-toggle="tab" data-bs-target="#quality-tab-pane" type="button" role="tab" aria-controls="quality-tab-pane" aria-selected="false">Quality Workmanship</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="commitment-tab" data-bs-toggle="tab" data-bs-target="#commitment-tab-pane" type="button" role="tab" aria-controls="commitment-tab-pane" aria-selected="false">Commitment to Safety</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="reliability-tab" data-bs-toggle="tab" data-bs-target="#reliability-tab-pane" type="button" role="tab" aria-controls="reliability-tab-pane" aria-selected="false">Reliability and Consistency</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="expertise-tab-pane" role="tabpanel" aria-labelledby="expertise-tab" tabindex="0">
                        <div class="choose__item shine__animate-item">
                            <div class="choose__item-thumb shine__animate-link">
                                <img src="{% static 'web/img/services/services_img01.jpg' %}" alt="img">
                            </div>
                            <div class="choose__item-content">
                                <h2 class="title">Expertise and Experience</h2>
                                <p>While Google Ads is undoubtedly a powerful advertising platform, it’s important to recognize that there are various other avenues to effectively display ads and engage with your target audience.</p>
                                <ul class="list-wrap">
                                    <li><i class="far fa-check-circle"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle"></i>Predictable Costs 24/7</li>
                                    <li><i class="far fa-check-circle"></i>Our Team is Ready to Help</li>
                                </ul>
                                <a href="contact.html" class="btn">Get a quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="quality-tab-pane" role="tabpanel" aria-labelledby="quality-tab" tabindex="0">
                        <div class="choose__item shine__animate-item">
                            <div class="choose__item-thumb shine__animate-link">
                                <img src="{% static 'web/img/services/services_img02.jpg' %}" alt="img">
                            </div>
                            <div class="choose__item-content">
                                <h2 class="title">Quality Workmanship</h2>
                                <p>While Google Ads is undoubtedly a powerful advertising platform, it’s important to recognize that there are various other avenues to effectively display ads and engage with your target audience.</p>
                                <ul class="list-wrap">
                                    <li><i class="far fa-check-circle"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle"></i>Predictable Costs 24/7</li>
                                    <li><i class="far fa-check-circle"></i>Our Team is Ready to Help</li>
                                </ul>
                                <a href="contact.html" class="btn">Get a quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="commitment-tab-pane" role="tabpanel" aria-labelledby="commitment-tab" tabindex="0">
                        <div class="choose__item shine__animate-item">
                            <div class="choose__item-thumb shine__animate-link">
                                <img src="{% static 'web/img/services/services_img03.jpg' %}" alt="img">
                            </div>
                            <div class="choose__item-content">
                                <h2 class="title">Commitment to Safety</h2>
                                <p>While Google Ads is undoubtedly a powerful advertising platform, it’s important to recognize that there are various other avenues to effectively display ads and engage with your target audience.</p>
                                <ul class="list-wrap">
                                    <li><i class="far fa-check-circle"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle"></i>Predictable Costs 24/7</li>
                                    <li><i class="far fa-check-circle"></i>Our Team is Ready to Help</li>
                                </ul>
                                <a href="contact.html" class="btn">Get a quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reliability-tab-pane" role="tabpanel" aria-labelledby="reliability-tab" tabindex="0">
                        <div class="choose__item shine__animate-item">
                            <div class="choose__item-thumb shine__animate-link">
                                <img src="{% static 'web/img/services/services_img04.jpg' %}" alt="img">
                            </div>
                            <div class="choose__item-content">
                                <h2 class="title">Reliability and Consistency</h2>
                                <p>While Google Ads is undoubtedly a powerful advertising platform, it’s important to recognize that there are various other avenues to effectively display ads and engage with your target audience.</p>
                                <ul class="list-wrap">
                                    <li><i class="far fa-check-circle"></i>Best Service for You</li>
                                    <li><i class="far fa-check-circle"></i>Keeping Your Team Productive</li>
                                    <li><i class="far fa-check-circle"></i>Predictable Costs 24/7</li>
                                    <li><i class="far fa-check-circle"></i>Our Team is Ready to Help</li>
                                </ul>
                                <a href="contact.html" class="btn">Get a quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- choose-area-end -->

    <!-- project-area -->
    <section class="project__area-four section-pt-20">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="section__title section__title-three text-center mb-60">
                        <!-- <span class="sub-title">CASE STUDY OUTDOOR</span> -->
                        <h2 class="title">CASE STUDY OUTDOOR</h2>
                        <p>Yeons's outdoor LED displays offers high-end performance at competitive price. Outdoor LED Screens are primarily used for advertisement and making certain content accessible in a public space. The unique all-weather design guarantees reliability under the toughest operating conditions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fulid p-0">
            <div class="project__inner-wrap-two">
                <div class="row gx-0">
                    <div class="col-26">
                        <div class="project__thumb-seven shine__animate-item">
                            <a href="project-details.html" class="shine__animate-link"><img src="https://5.imimg.com/data5/SELLER/Default/2022/9/UD/HM/JE/710180/outdoor-led-display-screen.png" alt="img"></a>
                        </div>
                        <div class="project__thumb-seven shine__animate-item">
                            <a href="project-details.html" class="shine__animate-link"><img src="https://5.imimg.com/data5/SD/NS/MY-2986447/advertising-led-display-screen-500x500.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="col-26 order-2 order-lg-3">
                        <div class="project__thumb-seven shine__animate-item">
                            <a href="project-details.html" class="shine__animate-link"><img src="https://5.imimg.com/data5/SELLER/Default/2023/10/354040971/MG/VI/IN/49605800/advertising-led-display-screen-500x500.jpg" alt="img"></a>
                        </div>
                        <div class="project__thumb-seven shine__animate-item">
                            <a href="project-details.html" class="shine__animate-link"><img src="https://qph.cf2.quoracdn.net/main-qimg-6b1a0619f99875943d6eb7b3c56b466b" alt="img"></a>
                        </div>
                    </div>
                    <div class="col-47 order-3 order-lg-2">
                        <div class="swiper project__active-two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project__item-seven">
                                        <div class="project__thumb-eight">
                                            <a href="project-details.html"><img src="{% static 'web/images/Products/790x800.jpg' %}" alt="img"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project__item-seven">
                                        <div class="project__thumb-eight">
                                            <a href="project-details.html"><img src="{% static 'web/images/Products/790x800.jpg' %}" alt="img"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="project__nav-two">
                                <button class="projectTwo-button-prev"><i class="renova-right-arrow"></i></button>
                                <button class="projectTwo-button-next"><i class="renova-right-arrow"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-area-end -->

    <!-- consultation-area -->
    <section class="consultation__area section-py-120">
        <div class="container">
            <div class="row gx-0">
                <div class="col-lg-7 order-0 order-lg-2">
                    <div class="consultation__img">
                        <img src="https://themegenix.com/demo/renova/assets/img/images/consultation_img.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="consultation__form-wrap">
                        <h2 class="title">Schedule free consultation</h2>
                        <form action="#" class="consultation__form">
                            <div class="form-grp">
                                <label for="name">Enter your full name*</label>
                                <input type="text" id="name">
                            </div>
                            <div class="form-grp">
                                <label for="email">Your email address*</label>
                                <input type="email" id="email">
                            </div>
                            <div class="form-grp">
                                <label for="number">Your phone number*</label>
                                <input type="number" id="number">
                            </div>
                            <div class="form-grp select-grp">
                                <label for="select">What are you looking for?</label>
                                <select name="select" id="select" class="orderby">
                                    <option value="Select your subject">Select your subject</option>
                                    <option value="Subject One">Subject One</option>
                                    <option value="Subject Two">Subject Two</option>
                                    <option value="Subject Three">Subject Three</option>
                                    <option value="Subject Four">Subject Four</option>
                                </select>
                            </div>
                            <div class="form-grp">
                                <label for="message">Write your message</label>
                                <textarea name="message" id="message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-two">Get your free quote</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- consultation-area-end -->

    <!-- brand-area -->
    <div class="brand__area section-pb-120">
        <div class="container">
            <div class="swiper brand-active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img01.png' %}" alt="img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img02.png' %}" alt="img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img03.png' %}" alt="img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img04.png' %}" alt="img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img05.png' %}" alt="img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img06.png' %}" alt="img">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <img src="{% static 'web/img/brand/brand_img03.png' %}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-area-end -->

</main>
<!-- main-area-end -->
{% endblock content %}